extends layout

// MIXIN
mixin adminMenu()
    if req.user
        if req.user.rights == 'root'
            li
                a.smoothscroll(href='/admin?first_lang=en&second_lang=ru')!= getText('admin')

mixin loginMenu()
    if !req.user
        ul.header-social
            li
                a(href='/login' style='color: #FFFFFF;')= getText('login')
    else
        ul.header-social
            li
                a(href='/logout' style='color: #FFFFFF;')= getText('logout')
mixin language()
    if req.session.guest && !req.user
        if req.session.guest.ln == 'en'
            li
                a(href='/?ln=ru')
                    img(src='images/russia.png')
        else
            li
                a(href='/?ln=en')
                    img(src='images/United-Kingdom.png')
mixin image_feature()
    if !req.user
        if req.session.guest
            if req.session.guest.ln == 'ru'
                img(src='images/feature-image-1-1.png', alt='steps')
            else
                img(src='images/feature-image-1.png', alt='steps')

    else if req.uesr == 'ru'
        img(src='images/feature-image-1-1.png', alt='steps')
    else
        img(src='images/feature-image-1.png', alt='steps')


/// END MIXIN

block content
    body
    header
        .logo
            a.smoothscroll(href='#main')
                img(alt='', src='images/logo.png')
        nav#nav-wrap
            a.mobile-btn(href='#nav-wrap', title='Show navigation') Show Menu
            a.mobile-btn(href='#', title='Hide navigation') Hide Menu
            ul#nav.nav
                li
                    a.smoothscroll(href='#inspiration')!= getText('whyJoin')
                li
                    a.smoothscroll(href='#about')!= getText('about')
                li
                    a(href='faq.html')!= getText('faq')
                li
                    a.smoothscroll(href='#subscribe')!= getText('joinUs')
                +language()
                +adminMenu()
        +loginMenu()
    section#main
        .row
            .seven.columns
                h3
                    b= getText('dearFriendsWeAreAlmostReady')

                #countbox
            .seven.columns
                .main-text
                    h1.responsive-headline= getText('welcomeToGlandia')
                    p!= getText('welcomeToGlandiaDescription')
                .buttons
                    a.button.subscribe.smoothscroll(href='#subscribe')=getText('joinToday')
                    a.button.learn-more.smoothscroll(href='#inspiration')= getText('learnMore')
            .five.columns.main-media
                img(src='images/global-image.png', alt='')
    section#inspiration
        .row.content
            .text-container
                .twelve.columns
                    h1= getText('whyDoPeoplJoinGlandia')
                .twelve.columns.flex-container
                    .flexslider
                        ul.slides
                            li
                                blockquote
                                    p= getText('toBenefitThemselves')
                            li
                                blockquote
                                    p= getText('toWelcomeMoreMotivators')
                            li
                                blockquote
                                    p= getText('toImproveTheWorldWeLiveIn')
    section#about
        .row.feature.steps
            .six.columns.right
                h3!= getText('howDoesG-landiaWork')
                != getText('howDoesG-landiaWorkDescription')
            .six.columns.feature-media.left
                //img(src='images/feature-image-1.png', alt='steps')
                +image_feature()
        .row.feature.choose
            .six.columns.left
                h3= getText('choosingYourPersonalGoals')
                != getText('choosingYourPersonalGoalsDescription')
            .six.columns.feature-media.right
                img(src='images/feature-image-2.png', alt='goals')
        .row.feature.motivators
            .six.columns.right
                h3= getText('choosingMotivatorsThatCare')
                != getText('choosingMotivatorsThatCareDescription')
            .six.columns.feature-media.left
                img(src='images/feature-image-3.png', alt='motivators')
        .row.feature.charities
            .six.columns.left
                h3!= getText('choosingFundsThatCareOptional')
                != getText('choosingFundsThatCareOptionalDescription')
            .six.columns.feature-media.left
                img(src='images/feature-image-4.png', alt='charities')
    section#subscribe
        .row.section-head
            .twelve.columns
                h1= getText('welcomeToGolympics')
                p!= getText('youAreJustOneStepAway')
        .row
            .twelve.columns
                #mc_embed_signup
                    form#mc-embedded-subscribe-form.validate(action='', method='', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                        input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='#{getText("yourEmail")}', required='')
                        div(style='position: absolute; left: -5000px;')
                            input(type='text', name='b_cdb7b577e41181934ed6a6a44_e65110b38d', value='')
                        .clear
                            input#mc-embedded-subscribe.button(type='submit', value='#{getText("join")}', name='subscribe')
                p
                    little!= getText('byJoiningYouConfirmConditions')
                            a(href='terms.html')= getText('linkTermsConditions')
                p
                    a.button(href='/example_profile.html')= getText('examplePage')
    section#call-to-action
        .row
            .two.columns.header-col
                img(src='images/donate.png')
            .eight.columns.pull-right
                h2= getText('supportTheProject')
                != getText('supportTheProjectDescription')
    section#footer
        footer
            p.copyright © 2015 G-Landia | Made in St-Petersburg, Russia
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\\/script>')
    script(type='text/javascript', src='js/jquery-migrate-1.2.1.min.js')
    script(src='js/jquery.flexslider.js')
    script(src='js/waypoints.js')
    script(src='js/jquery.fittext.js')
    script(src='js/jquery.fitvids.js')
    script(src='js/imagelightbox.js')
    script(src='js/main.js')