// MIXIN
mixin loginMenu()
    if !req.user
        ul.header-social
            li
                a(href='/login' style='color: #FFFFFF;')= getText('login')
    else
        ul.header-social
            li
                a(href='/logout' style='color: #FFFFFF;')= getText('logout')

mixin language()
    if req.session.guest && !req.user
        if req.session.guest.ln == 'en'
            li
                a(href='?ln=ru')
                    img(src='images/russia.png')
        else
            li
                a(href='?ln=en')
                    img(src='images/United-Kingdom.png')

mixin adminMenu()
    // =>  shows when root users
    if req.user
        if req.user.rights == 'root'
            li
                a(href='/admin?first_lang=en&second_lang=ru')!= getText('admin')
// END MIXIN


doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        title= getText(title)
        meta(name='description', content='')
        meta(name='author', content='inkyotogrand')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/default.css')
        link(rel='stylesheet', href='css/layout.css')
        link(rel='stylesheet', href='css/media-queries.css')
        link(rel='stylesheet', href='css/animate.css')
        script(src='js/modernizr.js')
        link(rel='shortcut icon', href='favicon.ico')

        //TIMER CSS
            =================================================
        link(rel='stylesheet', href='css/style4.css')
        //if lte IE 8 link(rel='stylesheet', href='css/style4ie.css')
        //if gte IE 9 link(rel='stylesheet', href='css/style4ieM.css')

        // TIMER CODE
            ==================================================
        script(type='text/javascript').
            year = 2016; month = 1; day = 20; hour= 23; minute= 59; sec= 59;
            function CountBox() {
                dateNow = new Date;
                amount = dateFuture.getTime() - dateNow.getTime() + 5;
                delete dateNow;
                if (amount < 0) {
                    out =   "<div class='countbox-num'><div id='countbox-days1'><span></span>0</div><div id='countbox-days2'><span></span>0</div><div id='countbox-days-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-hours1'><span></span>0</div><div id='countbox-hours2'><span></span>0</div><div id='countbox-hours-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-mins1'><span></span>0</div><div id='countbox-mins2'><span></span>0</div><div id='countbox-mins-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-secs1'><span></span>0</div><div id='countbox-secs2'><span></span>0</div><div id='countbox-secs-text'></div></div>";
                    document.getElementById("countbox").innerHTML = out;
                } else {
                    days = 0;
                    days1 = 0;
                    days2 = 0;
                    hours = 0;
                    hours1 = 0;
                    hours2 = 0;
                    mins = 0;
                    mins1 = 0;
                    mins2 = 0;
                    secs = 0;
                    secs1 = 0;
                    secs2 = 0;
                    out = "";
                    amount = Math.floor(amount / 1e3);
                    days = Math.floor(amount / 86400);
                    days1 = (days >= 10) ? days.toString().charAt(0) : '0';
                    days2 = (days >= 10) ? days.toString().charAt(1) : days.toString().charAt(0);
                    amount = amount % 86400;
                    hours = Math.floor(amount / 3600);
                    hours1 = (hours >= 10) ? hours.toString().charAt(0) : '0';
                    hours2 = (hours >= 10) ? hours.toString().charAt(1) : hours.toString().charAt(0);
                    amount = amount % 3600;
                    mins = Math.floor(amount / 60);
                    mins1 = (mins >= 10) ? mins.toString().charAt(0) : '0';
                    mins2 = (mins >= 10) ? mins.toString().charAt(1) : mins.toString().charAt(0);
                    amount = amount % 60;
                    secs = Math.floor(amount);
                    secs1 = (secs >= 10) ? secs.toString().charAt(0) : '0';
                    secs2 = (secs >= 10) ? secs.toString().charAt(1) : secs.toString().charAt(0);
                    out =   "<div class='countbox-num'><div id='countbox-days1'><span></span>" + days1 + "</div><div id='countbox-days2'><span></span>" + days2 + "</div><div id='countbox-days-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-hours1'><span></span>" + hours1 + "</div><div id='countbox-hours2'><span></span>" + hours2 + "</div><div id='countbox-hours-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-mins1'><span></span>" + mins1 + "</div><div id='countbox-mins2'><span></span>" + mins2 + "</div><div id='countbox-mins-text'></div></div>" +
                            "<div class='countbox-space'></div>" +
                            "<div class='countbox-num'><div id='countbox-secs1'><span></span>" + secs1 + "</div><div id='countbox-secs2'><span></span>" + secs2 + "</div><div id='countbox-secs-text'></div></div>";
                    document.getElementById("countbox").innerHTML = out;
                    setTimeout("CountBox()", 1e3);
                    }
            }
            month = --month;
            dateFuture = new Date(year, month, day, hour, minute, sec);
            window.onload = function () {
                CountBox();
            };

            // END TIMER CODE

    body
        header
            .logo
                a(class='#{smoothscroll}' href='/#main')
                    img(alt='', src='images/logo.png')
            nav#nav-wrap
                a.mobile-btn(href='#nav-wrap', title='Show navigation') Show Menu
                a.mobile-btn(href='#', title='Hide navigation') Hide Menu
                ul#nav.nav
                    li
                        // => #{smoothscroll} - taken when need (from backEnd)
                        a(class='#{smoothscroll}' href='/#inspiration')!= getText('whyJoin')
                    li
                        a(class='#{smoothscroll}' href='/#about')!= getText('about')
                    li
                        a(href='/faq')!= getText('faq')
                    li
                        a(class='#{smoothscroll} ' href='/#subscribe')!= getText('joinUs')
                    +language()
                    +adminMenu()
            +loginMenu()
        // BLOCKS
        h1 #{smoothscroll}
        block content
        block login
        // END BLOCKS

        // FOOTER
        section#footer
            footer
                p.copyright © 2015 G-Landia | Made in St-Petersburg, Russia

        // SCRIPTS
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\\/script>');
        script(type='text/javascript', src='js/jquery-migrate-1.2.1.min.js')
        script(src='js/jquery.flexslider.js')
        script(src='js/waypoints.js')
        script(src='js/jquery.fittext.js')
        script(src='js/jquery.fitvids.js')
        script(src='js/imagelightbox.js')
        script(src='js/main.js')
        // END SCRIPTS

        block afterScript
