extends  layout


block header
block content
    div(class="container theme-showcase" role="main")
        div(id="login-overlay" class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title text-center" id="myModalLabel")= getText('joinGolympicsRightNow')
                div(class="modal-body")
                    div(class="row")
                        div(class="col-xs-12")
                            div(class="well")
                                form(id="loginForm" method="POST" action="/register/" novalidate="novalidate")
                                    div(class="form-group")
                                        label(for="username" class="control-label")= getText('email')
                                        input(type="text" class="form-control" id="email" name="email"  title="#{getText('pleaseEnterYourEmail')}" placeholder="example@gmail.com")
                                        span(class="help-block")
                                    div(class="form-group")
                                        label(for="password" class="control-label")= getText('password')
                                        input(type="password" class="form-control" id="password" name="password"  title="#{getText('pleaseEnterYourPassword')}")
                                        span(class="help-block")
                                    div(class="form-group")
                                        label(for="password" class="control-label")= getText('confirmPassword')
                                        input(type="password" class="form-control" id="password" name="password" value="" required="" title="#{getText('pleaseEnterYourPassword')}")
                                        span(class="help-block")
                                    div(id="loginErrorMsg" class="alert alert-error hide")= getText('errorPasswordMismatch')
                                    button(class="btn btn-default btn-block center" type='submit')= getText('signUp')

