
mixin language(login)
    if !login
        li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= getText('language')
                span(class="caret")
            ul(class="dropdown-menu")
                li
                    a(href="?ln=ru") Русский
                li
                    a(href="?ln=en") English

mixin loginOut(login)
    if !login
        a(href='/login')
            button(type="button" class="btn btn-danger navbar-btn pull-right")= getText('login')
    else
        a(href='/logout')
            button(type="button" class="btn btn-danger navbar-btn pull-right")= getText('out')

mixin register(login)
    if !login
        a(href='/register')
            button(type="button" class="btn btn-success navbar-btn pull-right")= getText('registration')

nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(href='/')
                img(class="navbar-brand"  src="/img/glandia.jpg")
        div(id="navbar" class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="#about")= getText('about')
                +language(req.isAuthenticated())

            +loginOut(req.isAuthenticated())
            +register(req.isAuthenticated())




